name: Generate Pacman Contribution Graph

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Generate pacman SVG
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: pacman-contribution-graph.svg?palette=github-dark

      - name: Commit & push changes
        uses: EndBug/add-and-commit@v9
        with:
          message: "Generated pacman contribution graph"
          add: "pacman-contribution-graph.svg"
